{% extends '::base.html.twig' %}
{% block title %}
    {{ entity.name }}
{%  endblock title %}
{% block body -%}
<nav class="top-bar">
    <ul class="title-area">
        <li class="name">
            <h1><a href="{{ path('vamsi_self_note_homepage') }}">SelfNote</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
            <li class="divider"></li>
        </ul>
        <!-- Right Nav Section -->
        <ul class="right">
            <li class="divider hide-for-small"></li>
            <li class="has-dropdown"><a href="#">List Action</a>

                <ul class="dropdown">
                    <li>
                        <a href="{{ path('lists_edit', { 'id': entity.id }) }}">
                            Edit
                        </a>
                    </li>

                    <li class="has-form">
                        <form action="{{ path('lists_delete', { 'id': entity.id }) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget(delete_form) }}
                            <button type="submit" class="button">Delete</button>
                        </form>
                    </li>


                </ul>
            </li>
            <li class="divider"></li>

        </ul>
    </section>
</nav>
<br />
<div class="row">
    <div class="large-8 columns">
        <a href="{{ path('note_new') }}" class="button radius small success">New Note</a>
        <br />
        <br />
           <h5>{{ entity.name }}</h5>

        {% if notes %}
        <ol class="no-bullet">
        {%  for note in notes %}

            <li><a href="{{ path('note_show', { 'id': note.id }) }}">{{ note.name }}</a></li>
            {% endfor %}

        {% endif %}





{% endblock %}
